.header {
  height: 100px;
}
.cart-div {
  float: right;
  margin: 25px;
  position: relative;
}
.cart-div img {
  width: 30px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}
.product-item {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  background: rgb(250, 173, 173);
}
